*{
    margin: 0px;
}

body{
    height: 100vh;
    width: 100vw;
    background: black;
}

#back{
    position: fixed;
    top: 25px;
    left: 10px;
    color: white;
    background: rgb(77, 72, 72);
    padding: 7px 12px 7px 12px;
    -webkit-user-select: none;
    cursor: pointer;
  }
  
  #back:hover{
    background: rgb(87, 82, 82);
    top: 24px;
    left: 10px;
  }
  
  #back:active{
    background: rgb(53, 51, 47);
    top: 26px;
    left: 10px;
  }
  
  #back-link{
    color: white;
  }

#board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

#display-menu{
    display: flex;
    gap: 50px;
    -webkit-user-select: none;
}

#to-move{
    color: white;
}

#streak{
    color: white;
}

#board-grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 5px;
    background-color: rgb(255, 255, 255);
}

.tile{
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-win{
    background: green;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mark{
    font-family: "Indie Flower", serif;
    color: white;
    font-size: 100px;
    user-select: none;
}

.mark-win{
    color: rgb(9, 255, 0);
    font-size: 100px;
    user-select: none;
}

#button-menu{
margin-top: 50px;
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
}

.button{
    color: white;
    background: rgb(27, 26, 26);
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    -webkit-user-select: none;
    border-radius: 3px;
}

.button:hover{
    background: rgb(46, 45, 45);
    position: relative;
    bottom: 1px;
}

.button:active{
    background: rgb(59, 58, 58);
    position: relative;
    top: 2px;
}

@media screen and (max-width: 660px){
    #board-grid{
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    }

  }