*{
    margin: 0px;
}

body{
    height: 100vh;
    width: 100vw;
    background: black;
}

#board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

#to-move{
    color: white;
}

#board-grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 5px;
    background-color: rgb(255, 255, 255);
}

.tile{
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-win{
    background: green;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mark{
    color: white;
    font-size: 100px;
    user-select: none;
}

.mark-win{
    color: rgb(9, 255, 0);
    font-size: 100px;
    user-select: none;
}

#button-menu{
margin-top: 50px;
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
}

.button{
    color: white;
    background: rgb(27, 26, 26);
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    -webkit-user-select: none;
    border-radius: 3px;
}

.button:hover{
    background: rgb(46, 45, 45);
    position: relative;
    bottom: 1px;
}

.button:active{
    background: rgb(59, 58, 58);
    position: relative;
    top: 2px;
}